<div class="main-container">
  <div class="header-img">
    <img src="../assets/bg-cafe.jpg" alt="Imagen de fondo" />
  </div>

  <div class="coffee-container">
    <div class="heading">
      <img src="../assets/vector.svg" alt="" />
      <div class="title-subtitle">
        <h1>Our Collection</h1>
        <p>
          Introducing our Coffee Collection, a selection of unique coffees from
          different roast types and origins, expertly roasted in small batches
          and shipped fresh weekly.
        </p>
      </div>
    </div>

    <section class="filter-buttons">
      <button
        [class]="allCoffeesSelected ? 'button-search active' : 'button-search'"
        (click)="getCoffees()"
      >
        All Products
      </button>
      <button
        [class]="!allCoffeesSelected ? 'button-search active' : 'button-search'"
        (click)="availableCoffees()"
      >
        Available Now
      </button>
    </section>
    <section class="coffee-list">
      <app-coffee-card
        *ngFor="let coffee of coffees"
        [coffee]="coffee"
      ></app-coffee-card>
    </section>
  </div>
</div>
